*{
    padding:0;
    margin:0;
}
ul,li{
    list-style: none;
}
.container{
    width: 640px;
    margin:80px auto;
    text-align: center;
}
.search-area{
    width: 640px;
    height: 300px;
    margin:10px auto;
    text-align: center;
}
.search-area .logo{
    width: 640px;
    height: 100px;
}
.search-area .logo img{
    width: 270px;
    height: 129px;
}
.search-area .search{
    width: 640px;
    height: 40px;
}
.search-area .search input{
    width: 490px;
    height: 40px;
    vertical-align: middle;
    border:1px solid #ccc;
}
.search-area .search span{
    display:inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left:10px;
    background: dodgerblue;
    color:#fff;
    text-align: center;
    vertical-align: middle;
    border:1px solid #ccc;
}
.words{
    width: 640px;
    border:1px solid #e5e5e5;
    border-bottom:none;
}
.words .word{
    width: 100%;
    height: 40px;
    line-height:40px;
    border-bottom:1px solid #e5e5e5;
}
.words .word:hover{
    cursor:pointer;
}